cxf-study/Hello.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://svc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Hello"
	targetNamespace="http://svc">
	<wsdl:types>
		<xsd:schema targetNamespace="http://svc">
			<xsd:element name="sayHello">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sayHelloResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="sayHelloRequest">
		<wsdl:part element="tns:sayHello" name="in" />
	</wsdl:message>
	<wsdl:message name="sayHelloResponse">
		<wsdl:part element="tns:sayHelloResponse" name="out" />
	</wsdl:message>
	<wsdl:portType name="Hello">
		<wsdl:operation name="sayHello">
			<wsdl:input message="tns:sayHelloRequest" />
			<wsdl:output message="tns:sayHelloResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HelloSOAP" type="tns:Hello">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sayHello">
			<soap:operation soapAction="http://svc/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Hello">
		<wsdl:port binding="tns:HelloSOAP" name="HelloSOAP">
			<soap:address location="http://localhost:8080/Hello/services/Hello" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
